summary {
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  padding: 4px 0;
}

details {
  margin: 1rem 0;
  padding: 0.5rem 0;
}

details[open] {
  background: #f9f9f9;
}

details {
  margin-bottom: 1.5rem;
}

details strong {
  display: block;
  margin-top: 0.5rem;
}

details p,
details li {
  margin-bottom: 0.4rem;
}
